In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/serav/Documents/UBC/SUMMER 2021/TERM 2/DATA 301/project-group-30/data/raw/police_killings.csv", encoding = "ISO-8859-1")

In [7]:
df.groupby('gender','p_income').mean

ValueError: No axis named p_income for object type DataFrame